
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <style>
        .w {
            color: chocolate;
            font-family: 'Edwardian Script ITC';
            text-align: center;
            font-size: xx-large;
            padding-top: 3em;
            padding-bottom: 3em;
        }
    </style>
</head>
<body>
    <div class="w">&#127800;<b>Welcome to the Dashboard!</b>&#127800;</div>
</body>
</html>
